

* {
  font-family: lato;
}

.menu-heder-bg {
  height: 180px;
  width: 350px;
  background: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%) !important;
  box-shadow: 0px 1px 10pxlinear-gradient( 135deg, #FFF720 10%, #3CD500 100%) !important;
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
  margin-right: -7px;
}
.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;
}
img {
  width: 76px;
  height: 80px;
  border-radius: 50%;
  border: 7px solid linear-gradient( 135deg, #FFF720 10%, #3CD500 100%) ;
  margin-top: 36px;
  margin-left: 96px;
  transform: rotate(14deg);
}
.menu-items {
  margin: 1px;
  ion-icon {
    margin-right: 20px;
    color: #86979f;
  }

  ion-item {
    padding-left: 20px;
    margin-bottom: 10px;
  }

}
