
.action{

  text-align: center;
  padding: 3px;

  }
  .text{

    padding: 9px;
    border-radius:10px !important;


  }

  ion-textarea{

    border-radius:10px !important;
  }
  .listIon{
margin-top: 50px;


  }
  .text-ar{
padding: 10px;
    margin-top: 50px;
  }
