<ion-content fullscreen>
  <ion-list-header> </ion-list-header>

  <ion-card color="warning" style="margin-top: 5rem" (click)="goToConvert()">
    <ion-card-header>
      <ion-card-title>Convert text</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      It provides a multitude of functions that can be used to manipulate,
      query, escape, format strings
    </ion-card-content> </ion-card
  ><ion-card color="success">
    <ion-card-header>
      <ion-card-title>Function text</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      It provides a detailed and searchable documentation
    </ion-card-content>
  </ion-card>
</ion-content>
